@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

@layer base {
  html, body {
    @apply h-full overflow-hidden;
  }
  
  #root {
    @apply h-full overflow-y-auto;
  }

  /* Global scrollbar hide */
  * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  *::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
